* {
    margin: 0px;
}

body {
    background-color: #fafafa;
    color: rgba(0,0,0,.87);
}

.max-width {
    width: 100%;
}

.container {
    margin: 3%;
}

.form-val-hint {
    font-size: 75%;
}

.h-space {
    margin-bottom: 10px;
}

.failed-color {
    color: red;
}

.success-color {
    color: green;
}
