<div class="container">
    <h2>Change password</h2>
    <br />
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePasswordForm.valid && onSubmit()" novalidate>
        <md-card>
            <!-- alert -->
            <div *ngIf="actionError" style="display: flex; justify-content: center;"
                 [ngClass]="{'failed-color': alertStatus, 'success-color': !alertStatus}">
                {{ actionErrorMsg }}
            </div><br />

            <md-card-content>
                <!-- old password -->
                <md-input-container class="max-width">
                    <input mdInput
                           formControlName="oldPassword"
                           id="oldPassword"
                           type="password"
                           placeholder="current password"
                           autofocus
                           required>
                </md-input-container>
                <md-error *ngIf="formErrors.oldPassword"
                     [innerHTML]="formErrors.oldPassword"
                     class="form-val-hint">
                </md-error>
                <div class="h-space"></div>

                <!-- new password -->
                <md-input-container class="max-width">
                    <input mdInput
                           formControlName="newPassword"
                           id="newPassword"
                           type="password"
                           placeholder="new password"
                           required>
                </md-input-container>
                <md-error *ngIf="formErrors.newPassword"
                     [innerHTML]="formErrors.newPassword"
                     class="form-val-hint">
                </md-error>
                <div class="h-space"></div>

                <!-- confirm password -->
                <md-input-container class="max-width">
                    <input mdInput
                           formControlName="confirmPassword"
                           id="confirmPassword"
                           type="password"
                           placeholder="confirm password"
                           required>
                </md-input-container>
                <md-error *ngIf="formErrors.confirmPassword"
                     [innerHTML]="formErrors.confirmPassword"
                     class="form-val-hint">
                </md-error>
                <div class="h-space"></div>

            </md-card-content>
            <md-card-actions>
                <button md-raised-button color="primary" (click)="goBack()">Cancel</button>
                <button type="submit" md-raised-button color="accent" [disabled]="loading">Save</button>
            </md-card-actions>
        </md-card>
    </form>
</div>
