<div class="container">
    <h2>Home Component</h2>
    <br />

    <md-card>
        <h4>Project repository</h4>
        <br />
        <md-card-content>
            <div><a href="https://github.com/marklaygo/Angular-IdentityServer-WebAPI" target="_blank">https://github.com/marklaygo/Angular-IdentityServer-WebAPI</a></div>
        </md-card-content>
    </md-card>
    <br />
    <md-card>
        <h4>References</h4>
        <br />
        <md-card-content>
            <div><a href="http://docs.identityserver.io/en/release/quickstarts/0_overview.html" target="_blank">http://docs.identityserver.io/en/release/quickstarts/0_overview.html</a></div>
            <div><a href="https://github.com/auth0/angular2-jwt" target="_blank">https://github.com/auth0/angular2-jwt</a></div>
            <div><a href="http://blog.ionic.io/ionic-2-and-auth0/" target="_blank">http://blog.ionic.io/ionic-2-and-auth0/</a></div>
            <div><a href="https://auth0.com/docs/quickstart/spa/angular2" target="_blank">https://auth0.com/docs/quickstart/spa/angular2</a></div>
            <div><a href="http://stackoverflow.com/questions/31788681/angular2-validator-which-relies-on-multiple-form-fields/34582914#34582914" target="_blank">http://stackoverflow.com/questions/31788681/angular2-validator-which-relies-on-multiple-form-fields/34582914#34582914</a></div>
            <div><a href="https://angular.io/docs/ts/latest/guide/router.html#!#teach-authguard-to-authenticate" target="_blank">https://angular.io/docs/ts/latest/guide/router.html#!#teach-authguard-to-authenticate</a></div>
            <div><a href="https://angular.io/docs/ts/latest/cookbook/form-validation.html#!#reactive" target="_blank">https://angular.io/docs/ts/latest/cookbook/form-validation.html#!#reactive</a></div>
            <div><a href="https://github.com/angular/material2" target="_blank">https://github.com/angular/material2</a></div>
        </md-card-content>
    </md-card>
</div>
