<div class="container">
  <h2>Change password</h2>
  <br />
  <form [formGroup]="changePasswordForm" (ngSubmit)="changePasswordForm.valid && onSubmit()" novalidate>
    <mat-card>
      <!-- alert -->
      <div *ngIf="actionError" style="display: flex; justify-content: center;"
           [ngClass]="{'failed-color': alertStatus, 'success-color': !alertStatus}">
        {{ actionErrorMsg }}
      </div><br />

      <mat-card-content>
        <!-- old password -->
        <mat-form-field class="max-width">
          <input matInput
                 formControlName="oldPassword"
                 id="oldPassword"
                 type="password"
                 placeholder="current password"
                 autofocus
                 required>
        </mat-form-field>
        <mat-error *ngIf="formErrors.oldPassword"
                  [innerHTML]="formErrors.oldPassword"
                  class="form-val-hint">
        </mat-error>
        <div class="h-space"></div>

        <!-- new password -->
        <mat-form-field class="max-width">
          <input matInput
                 formControlName="newPassword"
                 id="newPassword"
                 type="password"
                 placeholder="new password"
                 required>
        </mat-form-field>
        <mat-error *ngIf="formErrors.newPassword"
                  [innerHTML]="formErrors.newPassword"
                  class="form-val-hint">
        </mat-error>
        <div class="h-space"></div>

        <!-- confirm password -->
        <mat-form-field class="max-width">
          <input matInput
                 formControlName="confirmPassword"
                 id="confirmPassword"
                 type="password"
                 placeholder="confirm password"
                 required>
        </mat-form-field>
        <mat-error *ngIf="formErrors.confirmPassword"
                  [innerHTML]="formErrors.confirmPassword"
                  class="form-val-hint">
        </mat-error>
        <div class="h-space"></div>

      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="goBack()">Cancel</button>
        <button type="submit" mat-raised-button color="accent" [disabled]="loading">Save</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
