.card-container {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

mat-card {
  width: 350px;
}

mat-toolbar {
  margin-bottom: 40px;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}

a, a:hover, a:visited {
  color: #2196f3;
  cursor: pointer;
  text-decoration: none;
}
