<div class="container">
    <h2>Account settings</h2>
    <br />
    <md-card class="account-card">
        <md-list>
            <md-list-item>
                <md-icon>email</md-icon>
                <button md-button>Change email address</button>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item>
                <md-icon>fingerprint</md-icon>
                <button md-button routerLink="/changepassword">Change password</button>
            </md-list-item>
        </md-list>
    </md-card>
</div>
