<div class="app-nav">
    <md-toolbar color="primary">
        <a md-button routerLink="/home">
            <img class="angular-logo" src="../assets/images/angular-white-transparent.svg">
            {{ title }}
        </a>
        <a md-button routerLink="/home">Home</a>
        <a md-button routerLink="/api">Web API</a>

        <span class="toolbar-spacer"></span>

        <div *ngIf="(isAuthenticated | async); else login">
            <button md-mini-fab color="accent" [mdMenuTriggerFor]="menu"><md-icon>menu</md-icon></button>
        </div>
        <ng-template #login>
            <div>
                <button md-raised-button color="accent" routerLink="/login">Login</button>
                <button md-raised-button color="primary" routerLink="/register">Register</button>
            </div>
        </ng-template>
    </md-toolbar>
</div>

<!-- menu -->
<md-menu #menu="mdMenu">
    <button md-menu-item routerLink="/accountsettings">
        <md-icon>fingerprint</md-icon>
        <span>Account Settings</span>
    </button>
    <button md-menu-item (click)="signOut()">
        <md-icon>power_settings_new</md-icon>
        <span>Logout</span>
    </button>
</md-menu>

<div class="app-container">
    <router-outlet></router-outlet>
</div>
